.container[data-v-31b065a4] {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-ball[data-v-31b065a4] {
  width: 6.93333rem;
  height: 6.93333rem;
  border-radius: 100%;
  background: #fff;
  color: #000;
  font-family: OsakeX3oqj;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -10;
  animation: shine-data-v-31b065a4 2s;
  animation-iteration-count: infinite;
  padding-bottom: 0.66667rem;
  box-sizing: border-box;
}
.home-ball img[data-v-31b065a4] {
  width: 6.93333rem;
  height: 6.93333rem;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home-ball p[data-v-31b065a4] {
  font-size: 0.69333rem;
}
.home-ball h3[data-v-31b065a4] {
  font-size: 1.33333rem;
  font-weight: 400;
}
.home-shadow[data-v-31b065a4] {
  position: absolute;
  bottom: -2.4rem;
  left: 1.06667rem;
  width: 4.8rem;
  height: 0.8rem;
  background: grey;
  border-radius: 50%/50%;
  box-shadow: 0.13333rem 0 1.06667rem #fff;
}
@media (min-width: 580px) {
  .home-ball[data-v-31b065a4],
  .home-ball img[data-v-31b065a4] {
    width: 6.93333rem;
    height: 6.93333rem;
  }
  .home-ball p[data-v-31b065a4] {
    font-size: 0.69333rem;
  }
  .home-ball h3[data-v-31b065a4] {
    font-size: 1.33333rem;
  }
  .home-shadow[data-v-31b065a4] {
    left: 1.06667rem;
    width: 4.8rem;
    height: 0.8rem;
  }
}
@media (max-width: 580px) {
  .home-ball[data-v-31b065a4],
  .home-ball img[data-v-31b065a4] {
    width: 82vw;
    height: 82vw;
  }
  .home-ball p[data-v-31b065a4] {
    font-size: 1.09333rem;
  }
  .home-ball h3[data-v-31b065a4] {
    font-size: 1.6rem;
  }
  .home-shadow[data-v-31b065a4] {
    width: 56vw;
    height: 9vw;
    left: 13vw;
  }
}
@keyframes shine-data-v-31b065a4 {
  0% {
    box-shadow: 0 0 0.66667rem hsla(0, 0%, 100%, 0.2);
  }
  25% {
    box-shadow: 0 0 1.2rem hsla(0, 0%, 100%, 0.5);
  }
  50% {
    box-shadow: 0 0 2rem hsla(0, 0%, 100%, 0.9);
  }
  60% {
    box-shadow: 0 0 1.33333rem hsla(0, 0%, 100%, 0.6);
  }
  75% {
    box-shadow: 0 0 1.06667rem hsla(0, 0%, 100%, 0.4);
  }
  to {
    box-shadow: 0 0 0.66667rem hsla(0, 0%, 100%, 0.2);
  }
}
.container[data-v-c35c6e60] {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
}
.tab-item-box[data-v-c35c6e60] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab-item-box p[data-v-c35c6e60] {
  font-family: OsakeX3oqj;
  font-size: 1.06667rem;
  width: 1.06667rem;
  word-break: break-all;
  text-align: center;
  color: #000;
  margin-top: 0.13333rem;
}
.tab-item[data-v-c35c6e60] {
  width: 1.06667rem;
  height: 1.06667rem;
  margin-top: 16vh;
}
.tab-item2[data-v-c35c6e60],
.tab-item3[data-v-c35c6e60] {
  margin-top: 36vh;
}
.main-ball-box[data-v-c35c6e60] {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 0.4rem;
}
.main-ball[data-v-c35c6e60] {
  width: 52vh;
  height: 52vh;
  box-shadow: 0 0 1.33333rem #000;
  background: none;
  border-radius: 100%;
}
.ball[data-v-c35c6e60] {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(
    circle at 50% 120%,
    #e6e3e3,
    #333232 80%,
    #272626 100%
  );
}
.ball[data-v-c35c6e60]:before {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle at 50% 120%,
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0) 70%
  );
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(0.06667rem);
  z-index: 2;
  animation: gradients-data-v-c35c6e60 5s;
  animation-iteration-count: infinite;
}
.ball[data-v-c35c6e60]:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    hsla(0, 0%, 100%, 0.8),
    hsla(0, 0%, 100%, 0.6) 14%,
    hsla(0, 0%, 100%, 0) 24%
  );
  -webkit-transform: translateX(-13.9vh) translateY(-15.6vh) skewX(-20deg);
  -moz-transform: translateX(-13.9vh) translateY(-15.6vh) skewX(-20deg);
  -ms-transform: translateX(-13.9vh) translateY(-15.6vh) skewX(-20deg);
  -o-transform: translateX(-13.9vh) translateY(-15.6vh) skewX(-20deg);
  transform: translateX(-13.9vh) translateY(-15.6vh) skewX(-20deg);
  -webkit-filter: blur(0.13333rem);
  animation: gradients1-data-v-c35c6e60 5s;
  animation-iteration-count: infinite;
}
.ball .shadow[data-v-c35c6e60] {
  position: absolute;
  bottom: -2.66667rem;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    transparent 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-26vh);
  -moz-transform: rotateX(90deg) translateZ(-26vh);
  -ms-transform: rotateX(90deg) translateZ(-26vh);
  -o-transform: rotateX(90deg) translateZ(-26vh);
  transform: rotateX(90deg) translateZ(-26vh);
  z-index: -1;
}
.stage[data-v-c35c6e60] {
  width: 52vh;
  height: 52vh;
  display: inline-block;
  -webkit-perspective: 62.4vh;
  -moz-perspective: 62.4vh;
  -ms-perspective: 62.4vh;
  -o-perspective: 62.4vh;
  perspective: 62.4vh;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.home-shadow[data-v-c35c6e60] {
  position: absolute;
  bottom: -2.4rem;
  left: 8vh;
  width: 36vh;
  height: 6vh;
  background: #4d4d4d;
  border-radius: 50%/50%;
  box-shadow: 0.13333rem 0 1.6rem #000;
}
@media (min-width: 580px) {
  .container[data-v-c35c6e60] {
    overflow-x: auto;
  }
  .home-shadow[data-v-c35c6e60] {
    width: 36vh;
    height: 6vh;
    left: 8vh;
  }
  .main-ball[data-v-c35c6e60],
  .stage[data-v-c35c6e60] {
    width: 52vh;
    height: 52vh;
  }
  .tab-item[data-v-c35c6e60] {
    width: 1.06667rem;
    height: 1.06667rem;
  }
  .tab-item-box p[data-v-c35c6e60] {
    font-size: 1.06667rem;
    width: 1.06667rem;
  }
}
@media (max-width: 580px) {
  .home-shadow[data-v-c35c6e60] {
    width: 54vw;
    height: 9vw;
    left: 12vw;
  }
  .main-ball[data-v-c35c6e60],
  .stage[data-v-c35c6e60] {
    width: 78vw;
    height: 78vw;
  }
  .tab-item-box[data-v-c35c6e60] {
    position: absolute;
  }
  .tab-item-box1[data-v-c35c6e60],
  .tab-item-box4[data-v-c35c6e60] {
    top: 0.13333rem;
  }
  .tab-item-box2[data-v-c35c6e60],
  .tab-item-box3[data-v-c35c6e60] {
    bottom: 0.13333rem;
  }
  .tab-item-box1[data-v-c35c6e60],
  .tab-item-box2[data-v-c35c6e60] {
    left: 0.26667rem;
  }
  .tab-item-box3[data-v-c35c6e60],
  .tab-item-box4[data-v-c35c6e60] {
    right: 0.26667rem;
  }
  .tab-item[data-v-c35c6e60] {
    width: 0.69333rem;
    height: 0.69333rem;
    margin: 0;
  }
  .tab-item-box p[data-v-c35c6e60] {
    width: 0.69333rem;
    font-size: 0.69333rem;
  }
}
@keyframes gradients-data-v-c35c6e60 {
  0% {
    background: radial-gradient(
      circle at 50% 120%,
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 100%, 0) 70%
    );
  }
  25% {
    background: radial-gradient(
      circle at 50% 120%,
      hsla(0, 0%, 100%, 0.7),
      hsla(0, 0%, 100%, 0) 70%
    );
  }
  50% {
    background: radial-gradient(
      circle at 50% 120%,
      hsla(0, 0%, 100%, 0.9),
      hsla(0, 0%, 100%, 0) 70%
    );
  }
  75% {
    background: radial-gradient(
      circle at 50% 120%,
      hsla(0, 0%, 100%, 0.7),
      hsla(0, 0%, 100%, 0) 70%
    );
  }
  to {
    background: radial-gradient(
      circle at 50% 120%,
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 100%, 0) 70%
    );
  }
}
@keyframes gradients1-data-v-c35c6e60 {
  0% {
    background: radial-gradient(
      circle at 50% 50%,
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.6) 14%,
      hsla(0, 0%, 100%, 0) 24%
    );
  }
  25% {
    background: radial-gradient(
      circle at 50% 50%,
      hsla(0, 0%, 100%, 0.7),
      hsla(0, 0%, 100%, 0.5) 14%,
      hsla(0, 0%, 100%, 0) 24%
    );
  }
  50% {
    background: radial-gradient(
      circle at 50% 50%,
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.7) 14%,
      hsla(0, 0%, 100%, 0) 24%
    );
  }
  75% {
    background: radial-gradient(
      circle at 50% 50%,
      hsla(0, 0%, 100%, 0.7),
      hsla(0, 0%, 100%, 0.5) 14%,
      hsla(0, 0%, 100%, 0) 24%
    );
  }
  to {
    background: radial-gradient(
      circle at 50% 50%,
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0.6) 14%,
      hsla(0, 0%, 100%, 0) 24%
    );
  }
}
@media (min-width: 580px) {
  .bj-img-m[data-v-3103ead0] {
    display: none;
  }
  .bj-img-p[data-v-3103ead0] {
    display: block;
  }
}
@media (max-width: 580px) {
  .bj-img-m[data-v-3103ead0] {
    display: block;
  }
  .bj-img-p[data-v-3103ead0] {
    display: none;
  }
}
.container[data-v-687ca9cb] {
  background: #545253 !important;
}
@media (min-width: 580px) {
  .bj-img-m[data-v-687ca9cb] {
    display: none;
  }
  .bj-img-p[data-v-687ca9cb] {
    display: block;
  }
}
@media (max-width: 580px) {
  .bj-img-m[data-v-687ca9cb] {
    display: block;
  }
  .bj-img-p[data-v-687ca9cb] {
    display: none;
  }
}
.container[data-v-30d491ad] {
  background: #828282 !important;
}
@media (min-width: 580px) {
  .bj-img-m[data-v-30d491ad] {
    display: none;
  }
  .bj-img-p[data-v-30d491ad] {
    display: block;
  }
}
@media (max-width: 580px) {
  .bj-img-m[data-v-30d491ad] {
    display: block;
  }
  .bj-img-p[data-v-30d491ad] {
    display: none;
  }
}
.container[data-v-6f9d84c2] {
  background: #b2b2b2 !important;
}
@media (min-width: 580px) {
  .bj-img-m[data-v-6f9d84c2] {
    display: none;
  }
  .bj-img-p[data-v-6f9d84c2] {
    display: block;
  }
}
@media (max-width: 580px) {
  .bj-img-m[data-v-6f9d84c2] {
    display: block;
  }
  .bj-img-p[data-v-6f9d84c2] {
    display: none;
  }
}
